<html>

<head>
    <title>Single Document View</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <style>
        .layout {
            display: grid;
            grid-template-columns: 1fr 200px;
            /* wide main + narrow sidebar */
            gap: 3rem;
            margin: 100px;
        }



        .sidebar {
            border-top: 2px solid black;
        }

        .sidebar-label {
            font-size: 0.7rem;
            letter-spacing: 0.12em;
            text-transform: uppercase;
        }
    </style>
</head>

<body>

    <div>
        <h1>database primary key {{ id }} </h1>
    </div>
    <div>
        <!-- [RealDictRow([('id', 1743), ('file_path', 'data/advancedpenetrationtesting.pdf'), ('preview', 'Advanced Penetration ...'), ('len', 473200), ('embedded', False)])] -->

        <h1> {{ doc_data[0]['file_path'] }} </h1>


        <div class='layout'>
            <div class="body">
                <p>
                    {{ doc_data[0]['preview'] }}
                </p>
            </div>
            <aside class="sidebar">
                <ul>
                    <li>Number of characters (db) {{ doc_data[0]['len'] }} </li>
                    <li>Document embedded? {{ doc_data[0]['embedded'] }} </li>
                </ul>
            </aside>
        </div>

    </div>
</body>

</html>