<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@latest/css/pico.min.css">
    <script src="https://cdn.plot.ly/plotly-2.35.2.min.js" charset="utf-8"></script>
    <script lang="js">

        document.addEventListener( 'DOMContentLoaded', function(){

            const serverData = {{ serverData | safe }};
            Plotly.newPlot( 'chartDiv', [{
                x : serverData.x,
                y : serverData.y,
                //mode: 'markers+text',
                mode: 'markers',
                type: 'scatter', 
                text: serverData.labels, 
                marker: {
                    size: serverData.sizes,
                    opacity: 0.50,
                    color: serverData.colors
                }
            }]);

            var plotDiv = document.getElementById('chartDiv');
            plotDiv.on('plotly_click', function (data) {

            // data.points contains an array of points clicked (usually one)
            if (data.points.length > 0) {
                var clickedPoint = data.points[0];
                if (!clickedPoint) return;

                var xValue = clickedPoint.x;
                if (!xValue) return;

                var yValue = clickedPoint.y;
                if (!yValue) return;

                var pointIndex = clickedPoint.pointIndex; // Index of the point in the data array


                window.location.href = '/document/' + serverData.ids[pointIndex];
            }
        });

        });
    </script>
</head>
<body>
    <nav> ... </nav>
    <main class="container">
        <div id="chartDiv"></div>

        <table border="1">
            {% for k,v in topics_and_documents.items()%}
                <tr><td>{{ k | safe }}</td></tr>
                <tr><td>
                    <ol>
                    {% for vv in v %}
                        <li>{{  vv | safe }}</li>
                    {% endfor %}                            
                   </ol> 
                </td></tr>
            {% endfor%}
        </table>
    </main>
</body>
</html>


